[submodule "ChCppLibrary/External/imgui"]
	path = ChCppLibrary/External/imgui
	url = https://github.com/ocornut/imgui
[submodule "ChCppLibrary/External/zlib"]
	path = ChCppLibrary/External/zlib
	url = https://github.com/madler/zlib
[submodule "ChCppLibrary/External/DirectXTex"]
	path = ChCppLibrary/External/DirectXTex
	url = https://github.com/microsoft/DirectXTex
[submodule "ChCppLibrary/External/LegacyDirectX"]
	path = ChCppLibrary/External/LegacyDirectX
	url = https://github.com/Chronoss0518/DirectX-End-User-Runtime
