[submodule "ChCppLibrary/External/imgui"]
	path = ChCppLibrary/External/imgui
	url = https://github.com/ocornut/imgui
[submodule "ChCppLibrary/External/DirectXTex"]
	path = ChCppLibrary/External/DirectXTex
url=https://github.com/Chronoss0518/DirectXTex
[submodule "ChCppLibrary/External/LegacyDirectX"]
	path = ChCppLibrary/External/LegacyDirectX
	url = https://github.com/Chronoss0518/DirectX-End-User-Runtime