[submodule "ChCppLibrary/External/ExternalLibrarys/zlib"]
	path = ChCppLibrary/External/ExternalLibrarys/zlib
	url = https://github.com/madler/zlib
[submodule "ChCppLibrary/External/ExternalLibrarys/imgui"]
	path = ChCppLibrary/External/ExternalLibrarys/imgui
	url = https://github.com/ocornut/imgui
